* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  overflow-x: hidden; 
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background: rgb(5, 88, 143);
  padding-top: 20px;
  transition: left 0.3s ease;
  z-index: 100;
}

.sidebar .logo {
  font-size: 25px;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 20px 0;
  display: block;
  text-align: center;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(17, 17, 17);
  border-bottom: 3px solid rgb(17, 17, 17);
}


.toggle-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 200;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-image: none, url(background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}


.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(63, 58, 58, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #4c4c55;
}

::placeholder {
  color: #cac7ff;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}
